body{
    background: url("https://cdn.pixabay.com/photo/2017/06/13/13/51/white-2398946__480.jpg");
}

img {
    padding-left: 40px;
    padding-top: 20px;
    border-right: 40px;
}

.p1 {
    padding-left: 20px;
    padding-top: 10px;
}

h1 {
    color: aqua;
    padding-top: 50px;
    text-align: right;

}

.container {
    background: lightblue;
}

.fixed-bottom {
    background: lightgray;
    height: 54px;
    text-align: center;
}

h2 {
    padding-left: 150px;
}

.blockquote {
    padding-left: 200px;
    padding-top: 150px;
    font-size: 12pt;
}